# =========================
# Ambiente / Segredos
# =========================
.env
*.env

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# =========================
# Dados sensíveis (RAG)
# =========================
backend/app/data/index/
backend/app/data/raw_md/

# =========================
# Logs
# =========================
*.log

# =========================
# Sistema
# =========================
.DS_Store
Thumbs.db


